*{
	font-family: Arial,sans-serif;
}
table.sortable, table.sortable > thead > tr > td, table.sortable > tbody > tr > td, table.sortable > tfoot > tr > td{
	border: 1px solid black;
	border-collapse: collapse;
	padding: 3px 5px;
}
table.sortable > tbody > tr:nth-child(odd){
	background-color: #ddd;
}
table.sortable > tbody > tr:hover{
	background-color: #ccc;
}
table.sortable > thead > tr{
	white-space: nowrap;
	background-color: #bbb;				
}
table.sortable > thead > tr > td{
	font-weight: bold;
	color: #000;
	padding-right: 15px;
	cursor: pointer;
}

table.sortable > thead > tr > td[data-nonsortable='true']{
	font-weight: bold;
	color: #000;
	padding-right: 15px;
	cursor: default;
}

table.sortable > thead > tr > td.order-field{
	color: #b30000;
	padding-right: 0px;
} 

table.sortable > thead > tr > td.order-asc:after{
	display: inline-block;
	text-align: center;
	width: 15px;
	content: '\25B2';
}

table.sortable > thead > tr > td.order-desc:after{
	display: inline-block;
	text-align: center;
	width: 15px;
	content: '\25BC';
}
table.sortable > tfoot{
	font-size: 0.75em;
	background-color: #bbb;
}